body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    margin: 1.5em;
}
p {
    margin-top: 4pt;
    margin-bottom: 0;
}
.title {
    font-size: 24pt;
    margin-bottom: 4pt;
}
div.section h1 {
    font-size: 18pt;
    margin-top: 14pt;
    margin-bottom: 4pt;
}
div.line-block {
    margin-top: 10pt;
}
ul.simple {
    margin-top: 4pt;
    margin-bottom: 2pt;
}
